p{
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    }

h1{
    text-align: center;
    }
button {
font-size: 15px;
padding: 5px;
color: #fcfcfc; 
background-color: #4648df; 
border-radius: 8px;
}

.img{
    margin-left: 250px;
   }

.img img{
    margin: 20px;
   }