p1{
    font-size: 40px;
   }
p2 {
    font-size: 25px;
}
p3{
    font-size: 15px;
   }
   button {
    font-size: 15px;
    padding: 5px;
    color: #fcfcfc; 
background-color: #4648df; 
border-radius: 8px;
   }

